@import './../../../../styles/main.scss';

.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar{
  background-color: $bg-header;
  color: #fff;
  p {
    font-size: 16px;
    font-weight: 300;
    margin-top: 15px;
  }
}

.menu-side{
  z-index: 2;
  position: absolute;
  // top: 0.5px;
  min-height: 90vh;
  width: 20vw;
  background-color: #1c1c63;

  @media (max-width: 480px) {
    width: 100vw;
  }

  mat-icon{
    color: #fff;
  }

  ul{
    padding-top: 32px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-size: 28px;
      li{
        width: 80%;
        padding: 6px;
        margin-bottom: 10px;
        cursor: pointer;
        &:hover{
          background-color: rgba(28,28,99, 0.2);
          border-bottom: 1px solid #fff;
        }
        a{
          font-weight: 300;
          color: white;
          text-decoration: none;
          // &:hover{
          //   border-bottom: 1px solid #fff;
          // }
      }
    }
  }
}