@import './../../../../styles/main.scss';

.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar{
  background-color: $bg-header;
  color: #fff;
  p {
    font-size: 16px;
    font-weight: 300;
    margin-top: 15px;
  }
}