<main>

  <mat-card class="bg-input-card">

    <div class="title-container">
      <h2 class="mt-5 mb-5">Login</h2>
    </div>

    <form [formGroup]="form">


      <div class="row container-login">

        <mat-form-field class="col-xl-10 col-md-10 col-10 mb-3 mt-3" appearance="outline">
          <mat-label>Usuário</mat-label>
          <input matInput formControlName="user">
          <mat-error *ngIf="F_user.invalid">{{getErrorMessageUser()}}</mat-error>
        </mat-form-field>

        <mat-form-field class="col-xl-10 col-md-10 col-10 mb-3" appearance="outline">
          <mat-label>Senha</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="F_user.invalid">{{getErrorMessagePassword()}}</mat-error>
        </mat-form-field>

      </div>


    </form>

    <div class="row mt-3 btn-container">

      <div class="col-xl-5 col-md-5 col-10 p-1">
        <button type="button" class="w-100 btn-confirm" (click)="requestLogin()">Confirmar</button>
      </div>

    </div>
  </mat-card>

</main>