@import './../../../styles/main.scss';

main{
  min-height: 85vh;
  margin-left: 1rem;

  mat-icon {
    margin: 2rem;
    cursor: pointer;
  }

  hr{
    color: $bg-header;
  }

  .title{
    text-align: center;
  }

  .main-content{
    height: 100%;
  }

  .warning {

    span{
      font-weight: 600;
      font-size: calc(1rem - 0.2rem);
    }
  }
}