@import './../../../styles/main.scss';

main{
  min-height: 85vh;

  mat-icon {
    margin: 2rem;
    cursor: pointer;
  }

  hr{
    color: $bg-header;
  }

  .title{
    text-align: center;
  }

  .main-content{
    height: 100%;
  }
}