<main class="p-2">
  <mat-icon (click)="back()">arrow_back</mat-icon>
  <section class="title mt-3">
    <h4>Este projeto é um case, que tem como objetivo desenvolver um fluxo de login e uma listagem de dados</h4>
    <p>Abaixo você encontra mais informações sobre o funcionamento do projeto e sua estrutura</p>
    <br>
    <hr>
  </section>

  <section class="main-content">

    <h4 class="mb-3">Como Rodar este projeto localmente?</h4>

    <div class="warning">

      <p>

        Você consegue encontrar este projeto nesse <a target="_blank" href="https://github.com/cauefrancisco/login-webApp/tree/main">respositório</a>.

        <br>

        <span>**A melhor maneira de testar a funcionalidade do projeto e seus fluxos de forma correta, incluindo requisições REST, é rodando o projeto localmente, acessando link do repositório acima e abrindo o projeto no seu workspace **</span>

      </p>

    </div>


    <ul>
      <li>
        1 - clonar repositório, abrir pasta no VSCode ou no editor de código da sua preferência.
      </li>
      <li>
        2 - No CMD, rodar comando 'npm i' para instalar as dependências do projeto. (Se certificar que você tem o node.js instalado globalmente)
      </li>
      <li>
        3 - Após a instalação das dependências, rodar comando 'ng serve' no cmd, dentro do VSCode, no diretório do projeto angular.
      </li>
      <li>
        4 - O Projeto deve abrir no localhost:4200, acessar localhost pelo navegador;
      </li>
    </ul>
    <p>Qualquer dúvida entrar em contato por <a href="mailto:cauefranscis@gmail.com">email</a> ou <a target="_blank" href="https://wa.me/+5511988552758">whatssapp</a></p>
  </section>

  <br>
  <section>
    <h4>Quais dependências NPM estão sendo usadas no projeto?</h4>

    <ul>
      <li>
        1 - js-sha256 ->
        <a href="https://www.npmjs.com/package/js-sha256">
          https://www.npmjs.com/package/js-sha256
        </a>
      </li>
      <li>
        2 - crc ->
        <a href="https://www.npmjs.com/package/crc">
          https://www.npmjs.com/package/crc
        </a>
      </li>
      <li>
        3 - moment Js ->
        <a href=" https://www.npmjs.com/package/moment">
          https://www.npmjs.com/package/moment
        </a>
      </li>
      <li>
        4 - Angular Material ->
        <a href="https://material.angular.io/guide/getting-started">
          https://material.angular.io/guide/getting-started
        </a>
      <li>
        5 - Bootstrap ->
        <a href="https://ng-bootstrap.github.io/#/getting-started">
          https://ng-bootstrap.github.io/#/getting-started
        </a>

      </li>

    </ul>

  </section>
  <br>

  <section>
    <h4>Informações sobre o Briefing do projeto (O que foi pedido para ser criado....)</h4>
    <p>De posse da sessão, realizar uma pesquisa pelas empresas e mostra-las em uma
      lista:</p>
    <p>Desenvolver um Web App de exemplo, usando a linguagem e framework que você tem
      mais experiência, com a seguinte funcionalidade:
      1. Tela de Login
      Usuário: aaaa
      Senha: 123456</p>
    <ul>
      <li>
        Desenvolver um Web App de exemplo, usando a linguagem e framework que você tem
        mais experiência, com a seguinte funcionalidade:
        1. Tela de Login
        Usuário: aaaa
        Senha: 123456
      </li>
    </ul>
  </section>
</main>