<main class="p-2">
  <section class="mt-4 mb-4 text">
    <h2>Ola! <span>{{user}}</span></h2>
    <p>Abaixa estão listadas as empresas requeridas</p>
  </section>

  <section class="mt-2 mb-2">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
      </ng-container>

      <ng-container matColumnDef="cnpj">
        <th mat-header-cell *matHeaderCellDef> CNPJ </th>
        <td mat-cell *matCellDef="let element"> {{element.cnpj}} </td>
      </ng-container>

      <ng-container matColumnDef="razaoSocial">
        <th mat-header-cell *matHeaderCellDef> Razao Social </th>
        <td mat-cell *matCellDef="let element"> {{element.razaoSocial}} </td>
      </ng-container>

      <ng-container matColumnDef="nomeFantasia">
        <th mat-header-cell *matHeaderCellDef> Nome Fantasia </th>
        <td mat-cell *matCellDef="let element"> {{element.nomeFantasia}} </td>
      </ng-container>

      <ng-container matColumnDef="situacao">
        <th mat-header-cell *matHeaderCellDef> Situação </th>
        <td mat-cell *matCellDef="let element"> {{element.situacao}} </td>
      </ng-container>

      <ng-container matColumnDef="CEP">
        <th mat-header-cell *matHeaderCellDef> CEP </th>
        <td mat-cell *matCellDef="let element"> {{element.CEP}} </td>
      </ng-container>

      <ng-container matColumnDef="UF">
        <th mat-header-cell *matHeaderCellDef> UF</th>
        <td mat-cell *matCellDef="let element"> {{element.UF}} </td>
      </ng-container>

      <ng-container matColumnDef="correio_eletronico">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.correio_eletronico}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </section>
</main>