@import './../../../styles/main.scss';


main{
  min-height: 85vh;
}

.text{
  text-align: center;
  span{
    color: red;
  }
}

table{
  display: flex;
    flex-direction: column;
    overflow-x: scroll;
    scroll-behavior: smooth;
    flex-wrap: wrap;
}

.mat-mdc-table .mat-mdc-header-cell {
  background: inherit;
  min-width: 180px;
}

.mat-mdc-table tbody, .mat-mdc-table tfoot, .mat-mdc-table thead, .mat-mdc-cell, .mat-mdc-footer-cell, .mat-mdc-header-row, .mat-mdc-row, .mat-mdc-footer-row, .mat-mdc-table .mat-mdc-header-cell{
  min-width: 180px !important;
}
